{% extends 'base.html' %}

{% block title %}
Index page
{% endblock %}

{% block content_title %}
Main page
{% endblock %}

{% block content %}
<div class="offset-md-3 col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        lacinia lorem vel metus auctor, eu iaculis eros pretium. Vestibulum
        pellentesque augue nec est maximus, eu efficitur arcu pretium. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Phasellus libero
        libero, semper sit amet sapien a, molestie iaculis neque. Maecenas
        tincidunt fringilla augue ac congue. Fusce vulputate tellus sit amet
        felis iaculis sodales. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        lacinia lorem vel metus auctor, eu iaculis eros pretium. Vestibulum
        pellentesque augue nec est maximus, eu efficitur arcu pretium. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Phasellus libero
        libero, semper sit amet sapien a, molestie iaculis neque. Maecenas
        tincidunt fringilla augue ac congue. Fusce vulputate tellus sit amet
        felis iaculis sodales. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        lacinia lorem vel metus auctor, eu iaculis eros pretium. Vestibulum
        pellentesque augue nec est maximus, eu efficitur arcu pretium. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Phasellus libero
        libero, semper sit amet sapien a, molestie iaculis neque. Maecenas
        tincidunt fringilla augue ac congue. Fusce vulputate tellus sit amet
        felis iaculis sodales. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit.</p>
</div>
{% endblock %}